
{{#if error}}
<h1>{{error}}</h1>
{{/if}}

{{! Note: Images is an object, that's why you need triple braces!}}

<div class='container'>
    <div class='heading'>Meme Templates</div>
    <div class='row-images d-flex flex-row flex-wrap justify-content-center'>

{{#if images}}
{{#each images}}

<a id="myButton" class='m-2' data-toggle="modal" data-target="#_{{{id}}}">
<img class="card-img-top" src="/uploads/{{{filename}}}" alt={{{filename}}} >
</a>

{{!Note: HTML forms only allow POST and GET}}
{{! Modal }}
<div class="modal fade" id="_{{{id}}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create a meme</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <img class="card-img-top" src="/uploads/{{{filename}}}" alt={{{filename}}} alt="Card image cap">
        <form action='/addtext' method='POST' enctype="application/x-www-form-urlencoded">
            <div class="form-group">
                <label for="formGroupExampleInput">Top Text</label>
                <input name='topText' id='top' type="text" class="form-control" placeholder="Top Text">
                <input name='id' value={{{id}}} type="hidden" class="form-control" placeholder="Top Text">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Bottom Text</label>
                <input name='bottomText' id='bottom' type="text" class="form-control" placeholder="Bottom Text">
            </div>
            <button type="submit" class="btn btn-primary" >Create meme!</button>
        </form>
      </div>
    </div>
  </div>
</div>

{{/each}}
{{/if}}
</div>
</div>